# common files we don’t use
src/common/fs.c
src/common/fs.h
src/common/tlv.c
src/common/tlv.h
src/common/version.c
src/common/version.h
src/common/win32_ext.c
src/common/win32_ext.h
src/common/dir.c
src/common/dir.h
src/common/non-gnu.c
src/common/non-gnu.h
src/common/rand.c
src/common/rand.h
